/bin/
/tmp/
/corelog-package.tar.gz
/corelog-package.zip
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
corelog
/data/
*.db
*.db-journal
*.db-shm
*.db-wal

.env
.env.*
!.env.example

node_modules/
dist/
dist-ssr/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp

*.log

docker/**/*.local.yml
